.flex-container {
   display: flex;
  flex-direction: row;
}

.flex-item-full {
  flex: 100%;
}

.flex-item-half {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-item-half {
    flex: 100%;
  }
}
